extends layout
block content
    .w3-container
        header.w3-container
                h1 
                    b Detalhes de Tipologia
        .w3-card-4
            table.w3-table-all
                    tr
                        th Estado
                        td= dt.estado                    
                    tr
                        th Sigla
                        td= dt.sigla                                       
                    tr
                        th Designacao
                        td= dt.designacao
                    if e.length > 0
                        tr
                            th Entidades
                            td
                                table.w3-table-all
                                    tr
                                        th Sigla
                                        th Designacao
                                        th Id
                                        th Detalhes da Entidade
                                    each l in e
                                        tr
                                            td= l.sigla
                                            td= l.designacao
                                            td= l.id
                                            td
                                                a(href="/ent/" + l.id) Detalhes
                    if d.length > 0
                        tr
                            th Dono
                            td
                                table.w3-table-all
                                    tr
                                        th Codigo
                                        th Titulo                                       
                                    each l in d
                                        tr
                                            td= l.codigo
                                            td= l.titulo
                    if p.length > 0
                        tr
                            th Participantes
                            td
                                table.w3-table-all
                                    tr
                                        th Tipo Participante
                                        th Codigo
                                        th Titulo
                                    each l in p
                                        tr
                                            td= l.tipoPar
                                            td= l.codigo
                                            td= l.titulo                                           
        address.margin-tb
                a(href="/") Voltar à página inicial
        address.margin-tb
                a(href='javascript:history.back()') Página anterior
                //button(onclick='goBack()') Voltar à página anterior
        footer.w3-container
          address Gerado por Teste Treino